.container {

  /* width: 1920px; */
  width:100%;
  min-width: 100px;

  height: 860px;
  background-image: url('%image(GC_EYWF_CKBG_PNG)');
  background-repeat: no-repeat;
  /* background-size: 1920px 1080px; */
  background-size: 100% 100%;
  /* padding-bottom: 50px; */
}

.container .header {
  width: 100%;
  background-color: #ff4232;

  height: 68px;
  display: flex;
  justify-content: space-between;
  background-image: url('%image(GC_EYWF_HEADER_PNG)');
  background-repeat: no-repeat;
  /* background-size: 1920px 1080px; */
  background-size: 100% 100%;
}

.container .header .left {
  display: flex;
}

.container .header .left-img .header-left-img {
  margin: 15px 0 15px 61px;
}

.container .header .left-img .header-split-img {
  margin: 23px 22px;
}

.container .header .left-img .header-gift-img {
  margin: 20px 31px 20px 0;
}

.container .header .header-title {
  margin: 20px 0;
  width: 219px;
  height: 38px;
  font-size: 20px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
}

.container .header .right {
  width: 106px;
  height: 38px;
  line-height: 38px;
  background: #ffbf62;
  margin: 16px 70px 14px 0;
  color: #fff;
  box-shadow: 0px 0px 6px 0px rgba(89, 0, 0, 0.5);
}

.container .header .right .logo {
  margin: 0 11px 0 14px;
}

.container .header .right .home {
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
}
.welfare {
	height: 750px;
  width: 1568px;
  padding: 0 24px 10px 24px;
  box-sizing: border-box;
  
  background-color: #fff;
  margin: 56px auto 0;
  overflow: auto;
}
.overview {
  overflow: hidden;
}
.title {
  margin: 28px 0px 0px 28px;
  height: 33px;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  color: #ff9a09;
  line-height: 33px;
  align-items: center;
}

.title .title-img {
  margin-right: 21px;
  position: relative;
  bottom: 2px;
}

.content {
  margin: 80px 281px 0 337px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-item {
  margin-left: 300px;
}

.item {
  width: 50%;
}

.right-item {
  width: 50%;
  text-align: right;
}

.detail-content .right-content {
  width: 270px;
  text-align: right;
}

.content .lable,
.detail-content .right-content .lable {
  font-weight: 500;
  color: #999999;
  line-height: 36px;
  height: 36px;
  display: inline-block;
  min-width: 165px;
  margin-right: 34px;
  text-align: right;
}

.detail-content {
  margin: 0 281px 0 204px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

 .detail-content .detail-item:nth-child(1){
  margin-left:18px;
}
.detail-content .detail-item:last-child{
  margin-left:-18px;
}

.detail-content .detail-item {
  display: flex;
  margin-top: 74px;
}


.detail-item .left-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100px;
}

.welfare-name {
  width: 100%;
  text-align: center;
  margin-top: 14px;
}

.detail {
  margin-top: 126px;
}

.year-select{
  display: flex;
  margin-left: 48px;
  color: #000;
  font-size: 18px;
  position: relative;
}

.year {
  width: 118px;
  height: 36px;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-icon{
  width: 35px;
  height: 36px;
  border: 1px solid #cccccc;
  border-radius: 0px 2px 2px 0px;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.all-year{
  border: 1px solid #cccccc;
  position: absolute;
  top: 38px;
  left:0.0001px;
  border-top: none;
  width: 118px;
  z-index: 10;
  background-color: #fff;
  display: none;
}

.year-item{
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.year-item:not(:first-child){
  border-top: 1px solid #cccccc;
}