body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei"
}
body,
button,
input,
select,
textarea,
th,
td {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: "Microsoft YaHei";
}
small {
  font-size: 12px;
}
ul ol li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cursor_{
  cursor: pointer;
}
/* @font-face {
  font-family: PF-M;
  src:url( ../assets/PingFang-SC-Medium.otf)
} */


body{background-color:transparent;overflow:hidden;color:#000;font-size:18px}
body,html{height:100%;font-family: "Microsoft YaHei"}
*{margin:0;padding:0}

.content .header .right{margin: 0.5% 5% 0 0;}
/* .content .header .left{margin-top: -1%;} */
@media only screen and (max-width: 1680px) {
  .detail-content,.content,.box{
  font-size:12px;
}

}
@media  screen and (max-width:1424px){body{font-size:12px} 
.detail-content,.content,.box  {
  font-size:12px;
}
 /* .header-title,.tittle{font-size:16px;} */
}
@media  screen and (max-width:1282px){body{font-size:12px}
.detail-content,.content,.box{
  font-size:10px;
}
/* .header-title,.tittle{font-size:14px;} */
}
@media  screen and (max-width:1164px){body{font-size:10px}
.detail-content,.content,.box{
  font-size:8px;
}
/* .header-title,.tittle{font-size:12px;} */
}
@media  screen and (max-width:1024px){body{font-size:8px}
.detail-content,.content,.box{
  font-size:6px;
}
.header-title,.tittle{font-size:6px;}
}
@media  screen and (max-width:854px){
  body{font-size:6px}
.detail-content,.content,.box{
  font-size:6px;
}
.header-title,.tittle{font-size:8px;}
}
@media  screen and (max-width:427px){body{font-size:4px}
.detail-content,.content,.box{
  font-size:4px;
}
.header-title,.tittle{font-size:6px;}
}