body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body,
button,
input,
select,
textarea,
th,
td {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul ol li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cursor_{
  cursor: pointer;
}
@font-face {
  font-family: PF-M;
  src:url( ../assets/PingFang-SC-Medium.otf)
}


body{background-color:transparent;overflow:hidden;color:#000;font-size:18px}
body,html{height:100%}
*{margin:0;padding:0}

.header-left-img .header-split-img .header-gift-img .right_pg{height: 80%;}
@media only screen and (max-width: 1680px) {
  .detail-content .content .box{
  font-size:12px;
}

}
@media only screen and (max-width:1424px){body{font-size:12px} 
.detail-content .content .box  {
  font-size:12px;
}
 .header-title{font-size:16px;}
}
@media only screen and (max-width:1282px){body{font-size:12px}
.detail-content .content .box{
  font-size:12px;
}
.header-title{font-size:14px;}
}
@media only screen and (max-width:1164px){body{font-size:10px}
.detail-content .content .box{
  font-size:10px;
}
.header-title{font-size:12px;}
}
@media only screen and (max-width:1024px){body{font-size:8px}
.detail-content .content .box{
  font-size:8px;
}
.header-title{font-size:10px;}
}
@media only screen and (max-width:854px){body{font-size:6px}
.detail-content .content .box{
  font-size:6px;
}
.header-title{font-size:8px;}
}
@media only screen and (max-width:427px){body{font-size:4px}
.detail-content .content .box{
  font-size:4px;
}
.header-title{font-size:6px;}
}